* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-size: 14px;
}

#wrapper {
  position: relative;
  margin-top: 110px;
  left: 15%;
  display: inline-block;
  /* margin-left: 120px; */
}

.notice_txt {
  margin: 35px 0px;
  text-align: left;
  font-size: 14px;
  font-weight: lighter;
}

h3 {
  font-size: 13px;
  text-align: left;
  margin-top: 20px;
}

.updown {
  border: 1px solid #ebebeb;
  width: 0.1px;
  height: 500px;
  vertical-align: middle;
  text-align: center;
  float: left;
}

.find-wrapper {
  width: 400px;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
  float: left;
}

.find-wrapper > h2 {
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
  border-bottom: 2px solid #000000;
  padding-bottom: 35px;
}

input[type='text'] {
  outline: none;
  border: none;
  width: 100%;
  height: 40px;
  font-size: 15px;
  letter-spacing: -0.15px;
  line-height: 22px;
  border-bottom: 1px solid #ebebeb;
}

input:focus {
  border-bottom: 2px solid #000000;
}

.find-form > input::placeholder {
  color: #d2d2d2;
}

input[type='button'] {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  line-height: 50px;
  font-size: 17px;
  font-weight: 700;
  border-radius: 10px;
  background-color: #ebebeb;
  color: #fff;
  cursor: default;
  margin-top: 50px;
}

/* popup 뒷배경 start */
#popup_background {
  /* display: none; */
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(34, 34, 34, 0.5);
  z-index: 9999;
}
/* popup 뒷배경 end */

/* popup start */
#popup {
  /* display: none; */
  top: 50%;
  left: 50%;
  position: absolute;
  box-shadow: 0 0.4rem 1rem 0 rgb(0 0 0/ 10%);
  width: 400px;
  height: 200px;
  background-color: #fafafa;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  z-index: 500;
}

#check_msg {
  text-align: center;
  font-size: 17px;
  padding-top: 50px;
  padding-bottom: 20px;
}

#retry_login {
  display: block;
  text-align: center;
  width: 150px;
  line-height: 50px;
  font-size: 17px;
  font-weight: 700;
  border-radius: 10px;
  background-color: #000000;
  color: #fff;
  cursor: default;
  margin: auto;
  cursor: pointer;
}
/* popup end */

i.fa.fa-circle-exclamation {
  color: tomato;
  padding-right: 20px;
}

.alert-box {
  position: fixed;
  top: 23.3%;
  left: 33.3%;
  background-color: #000000;
  opacity: 0.8;
  width: 430px;
  padding: 20px;
  color: white;
  border-radius: 30px;
  /* display: none; */
}

i.fa-solid.fa-check {
  color: #107026;
  padding-right: 20px;
}
