.content_area {
  display: inline-block;
}

input[type='text'] {
  font-size: 17px;
}

#title {
  width: 800px;
  border-bottom: 2px solid;
  padding-bottom: 8px;
  cursor: default;
  font-size: 26px;
}

.title_big {
  display: flex;
  top: 25%;
  font-size: 24px;
}

.unit {
  margin-top: -30px;
  height: 100px;
}

.title_small {
  margin-top: 15px;
  font-size: 16px;
}

#user_img {
  overflow: hidden;
  width: 120px;
  height: 110px;
  border-radius: 50%;
  float: left;
}

#real_change_img {
  display: none;
}

.user_profile {
  width: 800px;
  display: flex;
  padding: 30px 0px 30px;
  border-bottom: 1px solid #ebebeb;
}

.user_detail {
  width: 220px;
  height: 75px;
  float: left;
  margin-left: 8px;
}

#accent {
  font-size: 20px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 8px;
}

.profile_btn_box {
  position: absolute;
  padding-left: 6px;
  top: 335px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  height: 35px;
  line-height: 33px;
  text-align: center;
  font-size: 13px;
  border-radius: 10px;
  border: 1px solid #22222280;
  color: #222222cc;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 3px;
}

#change_img {
  width: 100px;
}

#del_btn {
  width: 50px;
}

.profile_info {
  padding-top: 20px;
  max-width: 480px;
}

.title_big {
  font-size: 20px;
}

#private_info {
  padding-top: 35px;
}

.unit {
  border-bottom: 1px solid #ebebeb;
  padding: 15px 40px 18px 0px;
}

#email_txt {
  margin-top: 5px;
}

#new_email {
  height: 32px;
}

#desc_name {
  padding-bottom: 3px;
}

#notice_pwd {
  margin-top: 5px;
  height: 115px;
}

#pwd,
#tel,
#birth {
  margin-top: 30px;
}

.modify_info {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  width: 50px;
  height: 32px;
  line-height: 31px;
  text-align: center;
  font-size: 13px;
  border-radius: 10px;
  border: 1px solid #22222280;
  background-color: #fff;
  color: #222222cc;
  cursor: pointer;
  float: right;
  right: 38%;
}

#btn_modify0 {
  position: relative;
  top: -22%;
  left: 8%;
}

#btn_modify1 {
  position: relative;
  bottom: 17.5%;
  left: 8%;
}

#btn_modify2 {
  position: relative;
  bottom: 26%;
  left: 8%;
}

.input_txt {
  outline: none;
  border: none;
  font-size: 16px;
}

.btn_recheck {
  text-align: center;
}

.btn_re {
  display: inline-block;
  justify-content: center;
  height: 45px;
  line-height: 43px;
  text-align: center;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  color: #222222cc;
  cursor: pointer;
}

.input_txt {
  position: relative;
  width: 480px;
  border-bottom: 1px solid #ebebeb;
  bottom: 10px;
}

.input_txt::placeholder {
  font-size: 16px;
}

.input_txt:focus {
  border-bottom: 2px solid #000000;
}

.input_item {
  padding: 15px 40px 18px 0px;
}

.notice_label {
  font-size: 16px;
}

#cancle1 {
  border: 1px solid #ebebeb;
  width: 90px;
  margin-right: 6px;
}

#alarm_mail {
  width: 140px;
  background-color: #ebebeb;
  color: #fff;
}

.new_notice {
  font-size: 15px;
}

#notice_tel {
  height: 110px;
}

.btn_re1 {
  display: inline-block;
  justify-content: center;
  width: 100px;
  height: 45px;
  line-height: 43px;
  text-align: center;
  font-size: 14px;
  border-radius: 10px;
  background-color: #fff;
  color: #222222cc;
  cursor: pointer;
  border: 1px solid #ebebeb;
  margin-right: 6px;
}

#store1,
#store2,
#store3 {
  background-color: #ebebeb;
  color: #fff;
}

#notice_birth {
  height: 115px;
}

#withdraw {
  display: inline-block;
  font-size: 13px;
  color: #22222280;
  text-decoration: underline;
  margin-top: 60px;
  cursor: pointer;
}

#alert_check_password {
  display: inline-block;
  position: absolute;
  top: 55%;
  left: 39.6%;
  width: 360px;
  height: 150px;
  transform: translate(-50%, -50%);
}

#input_pwd {
  width: 200px;
  margin-top: 30px;
  margin-left: 25px;
}

#input06 {
  position: absolute;
  bottom: 50px;
  border: none;
  outline: none;
  width: 300px;
  margin-left: 25px;
  margin-bottom: 8px;
  border-bottom: 2px solid #000000;
  font-size: 14px;
}

.check_btn {
  display: inline-flex;
  justify-content: center;
  width: 70px;
  margin-left: 340px;
  padding: 0 18px;
  height: 36px;
  line-height: 36px;
  border-radius: 12px;
  letter-spacing: -0.14px;
  font-size: 14px;
  border: 1px solid #222222cc;
  background-color: #fff;
  color: #222222cc;
  cursor: pointer;
}

#ok_input_pwd {
  background-color: #000000;
  color: #fff;
  margin-right: 4px;
}
