/* 입찰내역 하단 내용들 위치 css */
div.content_area {
  float: right;
  width: 75%;
}

/* 구매입찰, 경매종료 tab css */
div.content_area > div.auction_tab_list > div.auction_tab {
  display: inline-block;
  width: 47%;
  text-align: center;
  padding-bottom: 10px;
  /* background-color: brown; */
  line-height: 160%;
  margin-right: -4px; /* inline block 처리시 생기는 4px 여백 제거용*/
  cursor: pointer;
}

div.title_ing, div.title_end {
  color:rgba(34, 34, 34, 0.5)
}

/* 입찰내역 title css */
div.title {
  /* border-bottom-style: solid;
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-width: 2px; */
  /* width: 95%; */
  margin-bottom: 40px;
}

/* 상품명, 사이즈, 입찰가, 경매마감일 title css */
div.head_menu {
  border-bottom: 1px solid rgb(205, 205, 205);
  width: 94%;
  padding-bottom: 10px;
  font-weight: bold;
}

div.auction_box {
  width: 18.5%;
  text-align: center;
  display: inline-block;
  margin-right: -4px;
  padding-top: 24px;
  /* background-color: aqua; */
}
div.auction_boxs {
  width: 25%;
  text-align: center;
  display: inline-block;
  margin-right: -4px;
  padding-top: 24px;
  /* background-color: aqua; */
}
/* 상품 정보 css START */
div.desc {
  border-bottom: 1px solid rgb(205, 205, 205);
  width: 94%;
}

div.item_area {
  width: 18.5%;
  text-align: center;
  display: inline-block;
  margin-right: -4px;
  padding: 60px 20px 55px;
  vertical-align: bottom;
  /* background-color: gray; */
}

div.item_areas {
  width: 25%;
  text-align: center;
  display: inline-block;
  margin-right: -4px;
  padding: 40px 20px 35px;
  /* vertical-align: bottom; */
}

div.s_file {
  background-size: 150px;
  /*백그라운드 위치 옵션을 center 정중앙에 위치  */
	background-position: center;
	/*기본적으로 백그라운드의 옵션은 repeat이다. */
	background-repeat: no-repeat;
  vertical-align: top;
  /* background-color: gray; */
}

div.list_area > div.desc:hover {
  cursor: pointer;
  /* background-color: rgb(200, 200, 200); */
  background-color: #fafafa;
  transition: 0.5s;
}

div.zero_auction {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 50px;
}
/*상품 아무것도 없을 때 안내 문구 css */
/* 상품 정보 css END */

/* 달력 css START */
div.auction_list > div.search_by_day {
  text-align: center;
  border-bottom: 1px solid rgb(205, 205, 205);
  border-top: 1px solid rgb(205, 205, 205);
  width: 94%;
  padding: 0px 20px 20px; /* 위, 좌우, 아래 여백*/
  background-color: #fafafa;
}

div.auction_list > div.search_by_day > input[type="button"] {
  margin-left: 5px;
  color: #000000;
  font-size: 13px;
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid;
  padding: 5px 10px; /* 버튼 위아래, 좌우 여백 주기 (버튼 크기 조절)*/
  cursor: pointer;
}

div.auction_list > div.search_by_day > input#search {
  color: #ffffff;
  background-color: #000000;
}

input[type="date"] {
  cursor: pointer;
}

div.auction_list > div.search_by_day > input.start_day, input#start_end_day {
  margin-left: 20px;
}
/* 달력 css END */

/* 기간 조회 안내문구 css */
ul.period_possible {
  width: 95%;
  padding-left: 20px;
  font-size: small;
  color: #22222280;
  line-height: 120%;
}

div.auction_list, div.auction_end_list {
  text-align: center;
}

button#shop {
  width: 150px;
  height: 40px;
  color: rgba(34, 34, 34, 0.8);
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  font-size: 12px;
  margin-top: 80px;
  cursor: pointer;
  margin-right: 85px;
}

/* 경매 종료 css START */
div.auction_end_box {
  width: 16.2%;
  text-align: center;
  display: inline-block;
  margin-right: -4px;
  padding-top: 24px;
  /* background-color: aqua; */
}
div.auction_end_boxs {
  width: 19%;
  text-align: center;
  display: inline-block;
  margin-right: -4px;
  padding-top: 24px;
  /* background-color: aqua; */
}
/* 상품 정보 css START */
div.end_desc {
  border-bottom: 1px solid rgb(205, 205, 205);
  width: 94%;
}

div.item_end_area {
  width: 16.2%;
  text-align: center;
  display: inline-block;
  margin-right: -4px;
  padding: 60px 20px 55px;
  vertical-align: bottom;
  /* background-color: gray; */
}

div.item_end_areas {
  width: 19%;
  text-align: center;
  display: inline-block;
  margin-right: -4px;
  padding: 40px 20px 35px;
  /* vertical-align: bottom; */
}

div.end_s_file {
  background-size: 150px;
  /*백그라운드 위치 옵션을 center 정중앙에 위치  */
	background-position: center;
	/*기본적으로 백그라운드의 옵션은 repeat이다. */
	background-repeat: no-repeat;
  vertical-align: top;
  /* background-color: gray; */
}

div.list_end_area > div.end_desc:hover {
  cursor: pointer;
  /* background-color: rgb(200, 200, 200); */
  background-color: #fafafa;
  transition: 0.5s;
}
/* 경매 종료 css END */
