
*{margin:0; padding: 0;}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
@media all and (min-width:768px)

    /* and (max-width:1400px) */{
    html{
        font-size: 62.5%;
        overflow-x: hidden;
    }
}

*{margin:0; padding: 0; list-style:none;}
body{
    width: 100%;
    margin: 0;
    padding: 0;
}
#fixed{
    width: 100%;
    height: 5rem;
}

#fixed2{
    width: 100%;
    height: 30rem;
}


.container_buy{
    border:1px solid rgb(238, 238, 238);
    width: 70%;
    height: 80%;
    margin: auto;
    
}
.container_buy .content{
    width: 70rem;
    height: 100rem;
    box-sizing:border-box;
    margin:8rem auto 20rem auto;
}
.container_buy .content .buy_before .buy_before_check{
    border:1px solid rgb(201, 201, 201);
    width: 62rem;
    height: 85rem;
    background-color: white;
    box-sizing:border-box;
}
.buy_product .order{
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy_product .order>img{
    width: 30%;
    height: auto;
    margin-top: 50px;
}
/*--------------------------*/
.buy_before_check .complite_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buy_before_check .complite_content .complite_title{
    margin-top: 2.5rem;
    font-weight: bold;
    font-size: 3rem;
}
.buy_before_check .complite_content .sub_title{
    margin-top: 1.5rem;
    text-align: center;
    width: 28rem;
    font-size: 1.5rem;
    color: grey;
}

.buy_before_check .complite_btn{
    padding-top: 1.5rem;
    padding-bottom: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    width: 40rem;
    margin: 0 auto;
}

.buy_before_check .complite_btn .btn_small{
    width: 17rem;
    height: 5rem;
    border-radius: 1.5rem;
    border:0.1rem solid rgb(179, 179, 179);
    background: rgb(204, 204, 204);
    background: rgb(255, 255, 255);
}

.buy_before_check .sub_content{
    margin: 1.5rem 0;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    color: rgb(196, 196, 196);

}
/*--------------------------*/

.price_descion_box{
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    padding: 3.2rem;
    width: 60rem;
    height: 32.9rem;
    margin: 0 auto;
}

.price_descion_box .price_bind{
    border-bottom: 0.2rem solid rgb(202, 202, 202);
}
.price_descion_box .price_now >p{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.price_descion_box .price_now_box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.price_descion_box .price_now .price_now_title{
    font-size:1.5rem;
    font-weight: bold;
}
.price_descion_box .price_now_box .unit{
    font-size: 2rem;
    font-weight: bold;
    color: red;
}
.price_descion_box .price_point{
    border-top: 0.2rem solid rgb(202, 202, 202);
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.price_descion_box .price_point_title{
    font-size: 1.2rem;
}

.price_descion_box .price_point .unit{
    font-size: 1.2rem;
    font-weight: bold;
}
.price_descion_box .price_addtion{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.price_descion_box .price_addtion .price_title{
    color: rgb(182, 182, 182);
}
.price_descion_box .price_total{
    margin-top: 2rem;
}
.price_descion_box .price_total .price_box{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}


