div.show{
  /* display: flex; */
  padding: 100px;
}
section > div > div.show > img {
  height: 400px;
  /* margin-left: 50px; */
}
div.form{
  float: right;
  padding-right: 200px;
}
input[type="button"]{
  font-weight: 700;
  cursor:pointer;
  margin : 5px 5px;
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid #ebebeb;
  border-radius: 12px;
  font-size: 13px;
  /* background-color: black;
  color: white ; */
}
[type="file"]{
  font-weight: 700;
  cursor:pointer;
  margin : 5px 5px;
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid #ebebeb;
  border-radius: 12px;
  font-size: 13px;
}
button {
  font-weight: 700;
  cursor:pointer;
  margin : 5px 5px;
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid #ebebeb;
  border-radius: 12px;
  font-size: 13px;
  background-color: black;
  color: white ;
}
textarea#styleContent{
  margin: 5px;
  float:left;
  /* background-color: #ebebeb; */
  border: 1px solid #ebebeb;
  padding: 11px 52px 11px 12px;
  /* width: 70%; */
  border-radius: 20px;
  font-size: 14px;
  /* text-align-last: auto; */
}
p.del_modal{
  display: inline-table;
}
button.modal_btn{
  float: right;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  font-size: 13px;
  color: rgba(34, 34, 34, 0.8);
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  background-color: #fff;
}