<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting value="NULL" name="jdbcTypeForNull"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.relo.likes.LikesVo" alias="LikesVo"/>
		<typeAlias type="com.relo.styletag.StyleTagVo" alias="StyleTagVo"/>
		<typeAlias type="com.relo.reply.ReplyVo" alias="ReplyVo"/>
		<typeAlias type="com.relo.style.StyleVo" alias="StyleVo"/>
		<typeAlias alias="memberVo" type="com.relo.member.vo.MemberVo"/>
  		<typeAlias alias="noticeVo" type="com.relo.notice.vo.NoticeVo"/>
  		<typeAlias alias="Auction" type="com.relo.auction.AuctionVo"/>
  		<typeAlias alias="Product" type="com.relo.product.ProductVo"/>
  		<typeAlias alias="Stock" type="com.relo.stock.StockVo"/>
  		<typeAlias alias="ODelivery" type="com.relo.order_delivery.ODeliveryVo"/>
	</typeAliases>
	<environments default="mybatis_test">
		<environment id="mybatis_test">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="relo" />
				<property name="password" value="relo" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/relo/auction/auction.xml"></mapper>
		<mapper resource="com/relo/likes/likes.xml"/>
		<mapper resource="com/relo/styletag/styletag.xml"/>
		<mapper resource="com/relo/reply/reply.xml"/>
		<mapper resource="com/relo/style/style.xml"/>
		<mapper resource="com/relo/member/member_mapper.xml"></mapper>
		<mapper resource="com/relo/notice/notice_mapper.xml"></mapper>
		<mapper resource="com/relo/stock/stock.xml"></mapper>
	</mappers>
</configuration>

