section {
  text-align: center;
}
div.whole{
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
div.id{
  text-align-last: left;
  font-size: 16px;
  width: 200px;
}
div.styleDate{
  text-align-last: left;
  color: rgba(34,34,34,.5);
  font-size: 14px;
}
span.btn{
  float: right;
}
div.img{
  margin-top: 10px;
  margin-bottom: 10px;
  width:100%
}
div.styleLikes{
  padding-top: 50px;
  text-align-last: left;
  font-size: 14px;
}
div.img img{
    width: 600px;
}
div.btn_box{
  float: left;
  padding-top: 10px;
}
span.material-icons{
  cursor:pointer;
  padding-right: 15px;
}
input#edit, input.styleDel {
  font-weight: 700;
  cursor:pointer;
  margin : 5px 5px;
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid #ebebeb;
  border-radius: 12px;
  font-size: 13px;
  background-color: black;
  color: white ;
}
input[type="text"] {
  margin-bottom: 10px;
}
input[type="button"] {
  font-weight: 700;
  cursor:pointer;
  margin : 5px 5px;
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid #ebebeb;
  border-radius: 12px;
  font-size: 13px;
  /* background-color: black; */
  /* color: white ; */
}
section {
  text-align-last: center;
  margin-bottom: 150px;
}
div.tagList {
  display: inline-flex;
inline-size: -webkit-fill-available; 
 display: -webkit-box;
-webkit-line-clamp: 2;
overflow: scroll;
}
div.reply {
  /* border: 2px solid #735bff; */
  margin-top: 10px;
  text-align-last: left;
  padding-left: 10px;
}
div.repId {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}
span.repContent{
  color: rgb(50, 50, 50);
  margin-left: 10px;
}
div#repBtn{
  float: right;
}
div.repDate{
  font-size: 12px;
  color: rgba(34,34,34,.7);
}
input.reply_Content{
  float:left;
  background-color: #ebebeb;
  border: 1px solid transparent;
  padding: 11px 52px 11px 12px;
  width: 80%;
  border-radius: 20px;
  font-size: 14px;
  text-align-last: auto;
}
input.replyedit_Content{
  float:left;
  background-color: #ebebeb;
  border: 1px solid transparent;
  padding: 11px 52px 11px 12px;
  width: 70%;
  border-radius: 20px;
  font-size: 14px;
  text-align-last: auto;
}
p.del_modal{
  margin: auto;
  float: right;
  height: 35px;
}
button.modal_btn{
  float: right;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  font-size: 13px;
  color: rgba(34, 34, 34, 0.8);
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  background-color: #fff;

}