<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.relo.stock.StockDao">

 <resultMap type="com.relo.stock.StockVo" id="stockMap"  autoMapping="true">
	<id property="sNum" column="s_num"/>
<!-- <result column="id" property="id"/>
	<result column="SIZE_CATEGORY_NUM" property="SIZE_CATEGORY_NUM"/>
    <result column="id" property="id"/>
    <result column="sBrand" property="sBrand"/>
    <result column="sName" property="sName"/>
    <result column="sOriginPrice" property="sOriginPrice"/>
    <result column="sHopePrice" property="sHopePrice"/>
    <result column="sColor" property="sColor"/>
    <result column="sType" property="sType"/>
    <result column="sGrade" property="sGrade"/>
    <result column="sFile" property="sFile"/>
    <result column="sHopeDays" property="sHopeDays"/>
    <result column="sellerComment" property="sellerComment"/>
    <result column="managerComment" property="managerComment"/>
    <result column="sReturn" property="sReturn" /> -->	
    <result column="sizeCategoryNum" property="size_category_num" />
</resultMap>  



	<select id="selectAll" resultType="com.relo.stock.StockVo">
		SELECT * FROM STOCK
	</select>
	
	<!-- 1.판매자 상품등록 -->
	<insert id="insertStock">
		INSERT INTO stock (s_num,id,size_category_num,s_brand,s_name,s_origin_price,s_color,s_type,s_file,s_hope_days,seller_comment,s_return)
        VALUES (stock_seq.NEXTVAL,#{id},#{sizeCategoryNum},#{sBrand},#{sName},#{sOriginPrice},#{sColor},#{sType},#{sFile},#{sHopeDays},#{sellerComment},0)
	</insert>
	
	
</mapper>

