div.content_area {
  float: right;
  width: 75%;
}

.content_registration {
  width: 100%;
}

.account_registration {
  padding-top: 20px;
}

select {
  width: 200px;
  padding: 0.8em 0.5em;
  border: 1px solid #999;
  font-family: inherit;
  background: url("arrow.jpg") no-repeat 95% 50%;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
