header {
  z-index: 200;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

section.slideshow {
  left: 0;
  right: 0;
  top: 160px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-bottom: 100px;
}

section.slideshow button {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  border: none;
}

section.slideshow button:before {
  font-family: 'xeicon';
  color: #fff;
  font-size: 40px;
}

section.slideshow button.slick-prev {
  left: 40px;
  font-size: 0;
  color: transparent;
}

section.slideshow button.slick-prev:before {
  content: '\e93d';
}

section.slideshow button.slick-next {
  right: 40px;
  font-size: 0;
  color: transparent;
}

section.slideshow button.slick-next:before {
  content: '\e940';
}

div.zzim {
  width: 100%;
  height: auto;
  text-align: center;
}

div.zzimlist {
  width: 220px;
  height: 100px;
  /* display: inline-block; 줄바꿈안됨. 크기조절가능. 상하마진적용 */
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
}

div.zmoreview {
  width: 100%;
  height: 40px;
  text-align: center;
  margin-bottom: 50px;
}

div.deadline {
  width: 100%;
  height: auto;
  text-align: center;
}

div.deadlinelist {
  width: 220px;
  height: 100px;
  /* display: inline-block; 줄바꿈안됨. 크기조절가능. 상하마진적용 */
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
}

div.dmoreview {
  width: 100%;
  height: 40px;
  text-align: center;
  margin-bottom: 50px;
}

div.styleboard {
  width: 100%;
  height: auto;
  text-align: center;
}

div.styleboardlist {
  width: 220px;
  height: 100px;
  /* display: inline-block; 줄바꿈안됨. 크기조절가능. 상하마진적용 */
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
}

div.smoreview {
  width: 100%;
  height: 40px;
  text-align: center;
}

div.pnum {
  visibility: hidden;
}

div.stnum {
  visibility: hidden;
}
h1 {
  font-size: 30px;
  text-align: center;
}

button {
  width: 100px;
  height: inherit;
  color: #fff;
  font-size: 16px;
  background-color: #000000;
  margin-top: 20px;
  cursor: pointer;
}

div.sname {
  font-size: 18px;
  font-weight: 600;
}

div.aprice {
  font-size: 15px;
}

div.enddate {
  font-size: 15px;
}

/* -------------------------------- */

.zzimlist{
  display: none;
}