h1{
  text-align: center;
  font-size:30px;
  padding-bottom: 20px;
}
div.sortnav{
  right:250px;
  position: absolute;
  z-index:0;
  padding-bottom: 100px;
}
div.sortlist{
  width: 400px;
  right: 0px;
  position: absolute;
  display: none;
  border: 1px solid #ebebeb;
  background-color: #fff;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
  z-index:0;
}
div.sortnav>button.sorttitle{
  border: 0px;
  cursor: pointer;
}

div.sortnav>img{
  position: absolute;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
ul.sortlist{
  padding-left:10px;
  overflow: hidden;
  list-style-type: none;
}

p.maindesc{
  color: rgba(34,34,34,.8);
  font-weight: bold;
}
p.subdesc{
  color: rgba(34,34,34,.5);
  font-size: 15px;
  font-weight:500;
}
/* 왼쪽 사이드바 */
div.shopnav {
  float: left;
  padding-left: 50px;
  width: 25%;
}

a{
  display: block;
}

h3{
  margin:0;
  font-size:24px;
  display: inline-block;
}
div.filter img{
  width: 20px;
  height: 20px;
}
div.shop{
  float:right;
  padding-right: 50px;
  width:75%;
  position: relative;
  z-index: -1;
}

div.shoplist{
  float:left;
  text-align: center;
}
div.sname{
  font-size: 18px;
}

div.aprice{
  font-size: 15px;
}

div.enddate{
  font-size: 15px;
}

/*변경*/
div.shopnav > .menu_item > a,
.nuxt-link-active {
  text-decoration: none;
  color: inherit; /* 추가  */
}

div.snb_list > ul {
  /* 앞에 동그라미 점 없애기 */
  list-style-type: none;
  /* li는 왼쪽 padding 영역을 갖고 있기에 재설정 */
  padding: 0; /* 변경  */
}

/* 추가  */
div.snb_list > ul > li {
  font-size: 90%;
  padding-bottom: 10px;
  width: 100px;
}

div.snb_list > ul > li:hover {
  font-weight: bold;
}

div.snb_area > a.nuxt-link-active {
  display: inline-block;
  width: 120px;
}


div.shoplist{
  margin-bottom: 20px;
  margin-left: 20px;
  cursor: pointer;
}

