section > div.StockAdd {
  width: 300px;
  margin: auto;
  /* margin-top: 130px;*/
  background-color: rgb(207, 245, 245);
  width: 500px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

section > div.StockAdd > h1 {
  text-align: center;
}

input[type="submit"] {
  color: #fff;
  font-size: 16px;
  background-color: #000000;
  margin-top: 20px;
}

section > div.StockAdd > form {
  display: inline-block;
  line-height: 300%; /* br태그 간격조정 */
  padding-left: 50px;
}

section > div.StockAdd > form > div.next {
  text-align: center;
}

section > div.StockAdd2 {
  width: 300px;
  margin: auto;
  /* margin-top: 130px;*/
  background-color: rgb(207, 245, 245);
  width: 500px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

section > div.StockAdd2 > h1 {
  text-align: center;
}

section > div.StockAdd2 > form {
  display: inline-block;
  line-height: 180%; /* br태그 간격조정 */
  padding-left: 50px;
  width: 90%;
}

section > div.StockAdd2 > form > div.next {
  text-align: center;
}

section > div.terms {
  width: 300px;
  margin: auto;
  /* margin-top: 130px;*/
  background-color: rgb(207, 245, 245);
  width: 500px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

section > div.terms > h1 {
  text-align: center;
}

section > div.terms > h5 {
  display: inline-block;
  margin-left: 30px;
}

section > div.terms > textarea.t1 {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 10px;
}

section > div.terms > textarea.t2 {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 10px;
}

section > div.terms > div.finish {
  text-align: center;
}
